<nav>
    <div class="container">
  <div class="row justify-content-between" >
    <div class="col-12">
      <h1>NEY</h1><h3>Auto Elétrica e Mecânica</h3>
    </div>
    <div class="col-6">
      Endereço: Estrada Canal do Cocaia 1015<br>PQ. Res. Cocaia - São Paulo - SP <br>
      <i class="bi bi-telephone-fill"> (11) 5932-4500</i> <i class="bi bi-whatsapp">(11) 966862873</i>
    </div>
    <div class="col-6 te"><p>
      Elétrica em Geral - Motor de Partida <br>
      Altenardores - Freios - Suspensão <br>
      Injeção Eletrônica - Troca de Óleo
    </p></div>
  </div>
</div>

</div>

</nav>