<nav class="w-full flex justify-between items-center py-3 px-4 fixes z-50">
    <div class="w-6/12">
        <div class="mr-2">
            <h1>NEY </h1>
        </div>
        <div class="mr-2">
            <h3> Auto Elétrica <br>
                    E Mecânica
            </h3>
        </div>
    </div>

    <div class="w-6/12">
        <p>      Elétrica em Geral - Motor de Partida
            <br> Altenadores - Freios - Suspenção
            <br> Injeção Eletrônica - Troca de Óleo
        </p>
    </div>
</nav>