{% extends 'base.html' %}

{% block titulo %}
Cadastro Cliente
{% endblock %}

{% block content %}
        <div class="conteiner">
            <div class="text-center fs-1">Cadastro Cliente</div>
                {% for cliente in clientes_cadastrado %}
                <div class="input-group input-group-sm mb-4">
                <div class="input-group-prepend">
                   <label for="inputNome" class="form-label">Nome</label>
                        <span class="input-group-text" id="inputGroup-sizing-sm">{{cliente.nome}}</span>
                </div>
                <div class="col-md-1"></div>
                <div class="input-group-prepend">
                   <label for="inputEndereco" class="form-label" >Endereço</label>
                        <span class="input-group-text" id="inputGroup-sizing-sm">{{cliente.endereco}}</span>
                </div>
                <div class="col-md-1"></div>
                <div class="input-group-prepend">
                   <label for="inputBairro" class="form-label">Bairro</label>
                        <span class="input-group-text" id="inputGroup-sizing-sm">{{cliente.bairro}}</span>
                </div>
                <div class="col-md-1"></div>
                <div class="input-group-prepend">
                   <label for="inputCidade" class="form-label">Cidade</label>
                        <span class="input-group-text" id="inputGroup-sizing-sm">{{cliente.cidade}}</span>
                </div>
                </div>

            <div class="text-center fs-1">Veículo</div>

                <div class="input-group input-group-sm mb-4">
                <div class="input-group-prepend">
                    <label for="inputMarca" class="form-label">Marca</label>
                        <span class="input-group-text" id="inputGroup-sizing-sm">{{cliente.marca}}</span>
                </div>
                <div class="col-md-1"></div>
                <div class="input-group-prepend">
                    <label for="inputModelo" class="form-label">Modelo</label>
                <span class="input-group-text" id="inputGroup-sizing-sm">{{cliente.modelo}}</span>
                </div>
                <div class="col-md-1"></div>
                <div class="input-group-prepend">
                    <label for="inputAno" class="form-label">Ano</label>
                <span class="input-group-text" id="inputGroup-sizing-sm">{{cliente.ano}}</span>
                </div>
                <div class="col-md-1"></div>
                <div class="input-group-prepend">
                    <label for="inputCor" class="form-label">cor</label>
                <span class="input-group-text" id="inputGroup-sizing-sm">{{cliente.cor}}</span>
                </div>
                 <div class="col-md-1"></div>
                 <div class="input-group-prepend">
                    <label for="inputPlaca" class="form-label">Placa</label>
                <span class="input-group-text" id="inputGroup-sizing-sm">{{cliente.placa}}</span>
                </div>
                    {% endfor %}
                </div>
                <div class="input-group input-group-sm mb-4">

                </div>



{% endblock %}