{% extends 'base.html' %}

{% block titulo %}
Cadastro
{% endblock %}

{% block content %}
<header>
  <div class="container">
  <div class="text-center fs-1">Cadastro Cliente</div>
    <form class="row g-3">
  <div class="col-md-6">
    <label for="inputNome" class="form-label">Nome</label>
    <input type="nome" class="form-control" id="inputNome" required>
  </div>
  <div class="col-md-3">
    <label for="inputEndereco" class="form-label" >Endereço</label>
    <input type="endereco" class="form-control" id="inputEndereco" required>
  </div>
  <div class="col-md-3">
    <label for="inputBairro" class="form-label">Bairro</label>
    <input type="text" class="form-control" id="inputBairro" required>
  </div>
  <div class="col-md-4">
    <label for="inputCidade" class="form-label">Cidade</label>
    <select id="inputCidade" class="form-select" required>
    <option value="">Selecione</option>
    <option value="AC">Acre</option>
    <option value="AL">Alagoas</option>
    <option value="AP">Amapá</option>
    <option value="AM">Amazonas</option>
    <option value="BA">Bahia</option>
    <option value="CE">Ceará</option>
    <option value="DF">Distrito Federal</option>
    <option value="ES">Espirito Santo</option>
    <option value="GO">Goiás</option>
    <option value="MA">Maranhão</option>
    <option value="MS">Mato Grosso do Sul</option>
    <option value="MT">Mato Grosso</option>
    <option value="MG">Minas Gerais</option>
    <option value="PA">Pará</option>
    <option value="PB">Paraíba</option>
    <option value="PR">Paraná</option>
    <option value="PE">Pernambuco</option>
    <option value="PI">Piauí</option>
    <option value="RJ">Rio de Janeiro</option>
    <option value="RN">Rio Grande do Norte</option>
    <option value="RS">Rio Grande do Sul</option>
    <option value="RO">Rondônia</option>
    <option value="RR">Roraima</option>
    <option value="SC">Santa Catarina</option>
    <option value="SP">São Paulo</option>
    <option value="SE">Sergipe</option>
    <option value="TO">Tocantins</option>
</select>
  </div>
  <div class="col-md-3">
    <label for="inputContato" class="form-label">Contato</label>
    <input type="text" class="form-control" id="inputContato" required>
  </div><br><br><br><br>

      <div class="text-center fs-1">Veículo</div>

  <div class="col-2">
    <label for="inputMarca" class="form-label">Marca</label>
    <input type="text" class="form-control" id="inputMarca" placeholder="Corsa" required>
  </div>
  <div class="col-md-2">
    <label for="inputModelo" class="form-label">Modelo</label>
    <input type="text" class="form-control" id="inputModelo" required>
  </div>
  <div class="col-md-2">
    <label for="inputCor" class="form-label">Cor</label>
    <select id="inputCor" class="form-select" required>
      <option value="">Selecione</option>
      <option value="Branco">Branco</option>
      <option value="Cinza">Cinza</option>
      <option value="Preto">Preto</option>
      <option value="Prata">Prata</option>
      <option value="Azul">Azul</option>
      <option value="Vermelho">Vermelho</option>
      <option value="Marrom/Bege">Marrom/Bege</option>
      <option value="Verde">Verde</option>
      <option value="Amarelo">Amarelo</option>
      <option value="Outros">Outros</option>
    </select>
  </div>
  <div class="col-md-2">
    <label for="inputPlaca" class="form-label">Placa</label>
    <input type="text" class="form-control" id="inputPlaca" required>
  </div>
  <div class="col-md-2">
    <label for="inputKm" class="form-label">Km</label>
    <input type="text" class="form-control" id="inputKm" required>
  </div>

      <div class="text-center fs-1">Serviço</div><br><br>

  <div class="container">
  <div class="row">
    <div class="col-sm-10">
    <label for="inputDesc" class="form-label">Descrição</label>
    <input type="desc" class="form-control" id="inputDesc">
    </div>
    <div class="col-sm-2">
    <label for="inputValorServ" class="form-label">Valor</label>
    <input type="valorserv" class="form-control" id="inputValorServ" onKeyUp="mascaraMoeda(this, event)"  value="">
    </div>
    <div class="col-sm-10">
    <input type="desc2" class="form-control" id="inputDesc2">
    </div>
    <div class="col-sm-2">
    <input type="valorserv2" class="form-control" id="inputValorServ2" onKeyUp="mascaraMoeda(this, event)"  value="">
    </div>
    <div class="col-sm-10">
	<input type="desc3" class="form-control" id="inputDesc3">
    </div>
    <div class="col-sm-2">
    <input type="valorserv3" class="form-control" id="inputValorServ3" onKeyUp="mascaraMoeda(this, event)"  value="">
    </div>
    <div class="col-sm-10">
	<input type="desc4" class="form-control" id="inputDesc4">
    </div>
    <div class="col-sm-2">
    <input type="text" class="form-control" id="inputValorServ4" onKeyUp="mascaraMoeda(this, event)"  value="">
    </div>
    <div class="col-sm-10">
	<input type="desc5" class="form-control" id="inputDesc5">
    </div>
    <div class="col-sm-2">
    <input type="text" class="form-control" id="inputValorServ5" onKeyUp="mascaraMoeda(this, event)"  value="">
    </div>
    <div class="col-sm-10">
    <input type="desc2" class="form-control" id="inputDesc2">
    </div>
    <div class="col-sm-2">
    <input type="valorserv2" class="form-control" id="inputValorServ2" onKeyUp="mascaraMoeda(this, event)"  value="">
    </div>
    <div class="col-sm-10">
	<input type="desc3" class="form-control" id="inputDesc3">
    </div>
    <div class="col-sm-2">
    <input type="valorserv3" class="form-control" id="inputValorServ3" onKeyUp="mascaraMoeda(this, event)"  value="">
    </div>
    <div class="col-sm-10">
	<input type="desc4" class="form-control" id="inputDesc4">
    </div>
    <div class="col-sm-2">
    <input type="text" class="form-control" id="inputValorServ4" onKeyUp="mascaraMoeda(this, event)"  value="">
    </div>
    <div class="col-sm-10">
	<input type="desc5" class="form-control" id="inputDesc5">
    </div>
    <div class="col-sm-2">
    <input type="text" class="form-control" id="inputValorServ5" onKeyUp="mascaraMoeda(this, event)"  value="">
    </div>
  </div>
  </div>
        <p>Resultado: <span id="inputValorTotal"></span></p>
  <div class="container">
  <div class="row">
  <!-- Stack the columns on mobile by making one full-width and the other half-width -->
  <div class="col-sm-8">
  </div>
  <div class="col-sm-2">
    <h3>Valor Total</h3>
  </div>
  <div class="col-sm-2">
    <input type="valortotal" class="form-control" id="inputValorTotal" onKeyUp="mascaraMoeda(this, event)"  value="">
  </div>
  </div>
  </div><br>

  <div class="mb-3">
  <label for="observacoes" class="form-label">Observações</label>
  <textarea class="form-control" id="observacoes" rows="3"></textarea>
  </div>

  <div class="col-12">
    <button type="submit" class="btn btn-primary">Salvar</button>
    <button type="button" class="btn btn-primary" onclick="soma()">Somar</button>
  </div>
</header>
{% endblock %}