{% extends 'base.html' %}

{% block titulo %}
Cadastro Cliente
{% endblock %}

{% block content %}
  <div class="text-center fs-1">Cadastro Cliente</div><br><br>

  <div class="container">
    <form class="row g-3">
  <div class="col-md-6">
    <label for="inputNome" class="form-label">Nome</label>
    <input type="nome" class="form-control" id="inputNome" required>
  </div>
  <div class="col-md-3">
    <label for="inputEndereco" class="form-label" >Endereço</label>
    <input type="endereco" class="form-control" id="inputEndereco" required>
  </div>
  <div class="col-md-3">
    <label for="inputBairro" class="form-label">Bairro</label>
    <input type="text" class="form-control" id="inputBairro" required>
  </div>
  <div class="col-md-4">
    <label for="inputCidade" class="form-label">Cidade</label>
    <select id="inputCidade" class="form-select" required>
    <option value="">Selecione</option>
    <option value="AC">Acre</option>
    <option value="AL">Alagoas</option>
    <option value="AP">Amapá</option>
    <option value="AM">Amazonas</option>
    <option value="BA">Bahia</option>
    <option value="CE">Ceará</option>
    <option value="DF">Distrito Federal</option>
    <option value="ES">Espirito Santo</option>
    <option value="GO">Goiás</option>
    <option value="MA">Maranhão</option>
    <option value="MS">Mato Grosso do Sul</option>
    <option value="MT">Mato Grosso</option>
    <option value="MG">Minas Gerais</option>
    <option value="PA">Pará</option>
    <option value="PB">Paraíba</option>
    <option value="PR">Paraná</option>
    <option value="PE">Pernambuco</option>
    <option value="PI">Piauí</option>
    <option value="RJ">Rio de Janeiro</option>
    <option value="RN">Rio Grande do Norte</option>
    <option value="RS">Rio Grande do Sul</option>
    <option value="RO">Rondônia</option>
    <option value="RR">Roraima</option>
    <option value="SC">Santa Catarina</option>
    <option value="SP">São Paulo</option>
    <option value="SE">Sergipe</option>
    <option value="TO">Tocantins</option>
</select>
  </div>
  <div class="col-md-3">
    <label for="inputContato" class="form-label">Contato</label>
    <input type="text" class="form-control" id="inputContato" required>
  </div><br><br><br><br>

      <div class="text-center fs-1">Veículo</div>

  <div class="col-2">
    <label for="inputMarca" class="form-label">Marca</label>
    <input type="text" class="form-control" id="inputMarca" placeholder="Corsa" required>
  </div>
  <div class="col-md-2">
    <label for="inputModelo" class="form-label">Modelo</label>
    <input type="text" class="form-control" id="inputModelo" required>
  </div>
  <div class="col-md-2">
    <label for="inputCor" class="form-label">Cor</label>
    <select id="inputCor" class="form-select" required>
      <option value="">Selecione</option>
      <option value="Branco">Branco</option>
      <option value="Cinza">Cinza</option>
      <option value="Preto">Preto</option>
      <option value="Prata">Prata</option>
      <option value="Azul">Azul</option>
      <option value="Vermelho">Vermelho</option>
      <option value="Marrom/Bege">Marrom/Bege</option>
      <option value="Verde">Verde</option>
      <option value="Amarelo">Amarelo</option>
      <option value="Outros">Outros</option>
    </select>
  </div>
  <div class="col-md-2">
    <label for="inputPlaca" class="form-label">Placa</label>
    <input type="text" class="form-control" id="inputPlaca" required>
  </div>
  <div class="col-md-2">
    <label for="inputKm" class="form-label">Km</label>
    <input type="text" class="form-control" id="inputKm" required>
</div>
{% endblock %}